@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --main-background-color: #E27528;
    --main-background-darker: #D76B1D;
    --main-background-darkest: #c4621c;
    --main-text-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow-x: hidden;
}

.main-landing {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--main-background-color);
}

.main-landing-hover-three {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.large-text {
    color: var(--main-text-color);
    font-family: "Jost", sans-serif;
    padding: 1vw;
    font-size: 5vmax;
    font-weight: 900;
    text-align: center;
}

.large-section { 
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.text-section {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 0.5vw;
    padding: 2vmax;
}

.text-section-float-right {
    align-items: flex-end;
    text-align: right;
}

.text-section-float-left {
    align-items: flex-start;
    text-align: left;
}

.canvas-container {
    width: 50%;
    height: 100%;
    flex: 1;
    background-color: var(--main-background-darker);
    position: relative;
}

.text-section-header {
    font-size: 3vmax;
    font-family: "Jost", sans-serif;
}

.bold-orange {
    font-size: 5vmax;
    color: var(--main-background-color);
    font-weight: 900;
}

.text-section-para {
    font-family: "Jost", sans-serif;
    width: 80%;
    font-size: 1vmax;
}

.text-section-options {
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    row-gap: 1vw;
}

.text-section-option {
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: span 1;
    border-radius: 20px;
    border: var(--main-background-color) 1px solid;
    cursor: pointer;
    transition: box-shadow 0.5s ease-in-out;
    display: flex;
    column-gap: 1vmax;
    padding: 1vmax;
}

.text-section-option:hover {
    box-shadow: var(--main-background-color) 0 0 10px;
}

.three-canvas {
    width: 100%;
    height: 100%;
}

.hover-canvas-three, .three-canvas-2 {
    position: absolute;
    top: 0;
    left: 0;
}

.hover-canvas-three {
    z-index: 4;
}

.three-canvas-2 {
    z-index: 5;
}

.text-section-option-icon {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vmax;
}

.text-section-option-text > h2 {
    font-size: 1.5vmax;
}

.text-section-option-text > p {
    font-size: 0.8vmax;
}

@media (max-width: 800px) {
    .text-section {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 2vmax;
        z-index: 3;
    }

    .canvas-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    .text-section-header {
        width: 100%;
        text-align: center;
    }

    .text-section-para {
        width: 100%;
        text-align: center;
    }
}

.text-section-option-text {
    flex: 5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Jost', sans-serif;
}

.text-section-option-text > h2 {
    color: orange;
    font-weight: 800;
}

.salad-canvas {
    width: 100%;
    height: 100%;
    background-color: var(--main-background-darkest);
}

.overlay-text {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'Jost', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1vmax;
}

.contact-us-numbers {
    display: flex;
    flex-direction: column;
    row-gap: 0.5vmax;
}

.contact-us-header {
    font-size: 6vw;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 3rem;
    transition: background 1s ease-in-out;
    font-family: 'Jost', sans-serif;
    color: white;
}

.nav-ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    height: 100%;
    color: white;
}

.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: white;
}

.logo-item {
    padding: 1.5rem;
}

.button-container {
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    background-color: var(--main-background-darker);
    border: var(--main-background-darkest) 2px solid;
    border-radius: 10px;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    cursor: pointer;
    font-size: 0.8vw;
    white-space: pre;
    color: white;
}

.nav-link {
    text-decoration: none;
    font-size: 1vw;
    white-space: pre;
    color: white;
}

.fa-folder-open {
    font-size: 1.75vw;
}

.logo-link {
    font-size: 1.25vw;
}

@media (max-width: 650px) {
    .nav-link {
        text-decoration: none;
        font-size: 2.15vw;
    }
    
    .fa-folder-open {
        font-size: 3vw;
    }
    
    .logo-link {
        font-size: 2.75vw;
    }

    .login {
        background-color: #520023;
        border: #3a0019 2px solid;
        border-radius: 10px;
        padding-left: 2.25vw;
        padding-right: 2.25vw;
        padding-top: 0.75vw;
        padding-bottom: 0.75vw;
        cursor: pointer;
        font-size: 2vw;
        white-space: pre;
    }
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: var(--main-background-darkest);
}

::-webkit-scrollbar-thumb {
    background-color: white;
}